<ActionBar title="Pokemon BOTDesign app">
</ActionBar>

<GridLayout rows="100, *">

    <!-- Actions -->
    <GridLayout row="0" columns="200, *, auto" class="actions">
        <form [formGroup]="pokeForm">
            <TextView col="0" class="action" hint="Name" autocapitalizationType="none" formControlName="nameTextField">
            </TextView>
            <TextView col="1" class="action" hint="Number"  formControlName="numberTextField">
            </TextView>
            <ListPicker col="2" class="action" [items]="types" class="picker" formControlName="typeTextField">
            </ListPicker>
        </form>
    </GridLayout>

    <!-- Pokemons list -->
    <ListView row="1" [items]="pokemons" height="800" >

        <!-- items template -->
        <ng-template let-pokemon="item">
                <pokemon-item [item]="pokemon"></pokemon-item>
        </ng-template>

    </ListView>
</GridLayout>