<!-- Each pokemon will display a grid -->
<GridLayout columns="*, auto, *, *" class="m-15 item" (tap)="onItemTap($event)">

    <!-- Image and basic informations -->
    <Image verticalAlignment="center" class="info" col="0" [src]="item.img" loadMode="async" stretch="aspectFit"></Image>
    <Label verticalAlignment="center" class="info" col="1" [text]="item.id + '. '"></Label>
    <Label verticalAlignment="center" class="info" col="2" [text]="item.name"></Label>

    <!-- List of types -->
    <StackLayout class="info-sm" col="3">
        <Label *ngFor="let type of item.type" class="h2" [text]="type"></Label>
    </StackLayout>
</GridLayout>